/* image slider  */
.slider{
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }
  .image{
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
  }
  .right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    user-select: none;
    z-index: 1;
  }
  .left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    user-select: none;
    z-index: 1;
  }
  .slide{
    opacity: 0;
    transition-duration: 2s ease;
  }
  .active{
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1);
  }