.upComingContest {
  margin: 0;
  font-family: 'Source Sans Pro' , sans-serif;
  background-color: #f6f6f6;
  text-align: center;
}

.upComingContest img {
  max-width: 100%;
}

.upComingContest h2 {
  font-size: 1.2rem;
}

.wrapper {
  padding: 0 1rem;
}

.upComingContest .news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 5rem;
}

.upComingContest .news__card {
  text-decoration: none;
  color: #080808;
  background-color: #fff;
  padding: 20px;
}

.upComingContest .news__card:hover {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}