.password_reset {
    height: fit-content;
    background: white;
    color: black;
    box-shadow: 0px -16px 30px rgb(0 0 0 / 18%);
    border-radius: 12px;
    margin: 5vh 50vw;
    padding:110px 30px;
    text-align: center;
    font: inherit;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    width:50vw;
    transform: translateX(-50%);
}

.password_reset .heading {
    font-size:1.8rem;
    margin: auto;
    color: #555;
    margin: 5vh;
    white-space: nowrap;
}

.password_reset .form_data{
    height:25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.password_reset .form-group{
    width:95%;
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
    .password_reset .heading {
        font-size:1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .password_reset .heading {
        font-size:1.3rem;
    }
}